$header-color: #222222;
$pink: #F26376;
$red-text: #F16D7F;
$light-grey: #F8F3F4;
$grey: #A4A4A4;

$desktop-width: 1600px;
$tablet-width: 768px;
$big-mobile-width:426px;
$mobile-width: 376px;